{% extends 'Home/base.html'  %}
{% block title %} Change Password {% endblock title %}

{% block body %}

<div class="card border-light  col-sm-6 mx-auto mt-5 p-0">
<div class="card-header text-center">
    <h4 style="font-weight:100" class="m-0">Change Password (Bharat)</h4>
  </div>
  <div class="card-body">
    <form action="/Auth/ChangePassword/" method="post">{% csrf_token %}
    

  <div class="form-group row">
    <label  class="col-sm-2 col-form-label">N Password</label>
    <div class="col-sm-10">
      <input type="password" name="Pword" class="form-control" required>
    </div>
  </div>
        <small id="Signup" class="form-text text-muted ">You Will Be Logged Out After Changing The Password</small>


      <button type="submit" class="btn btn-outline-primary float-right">Change Password</button>

    </form>
  </div>
</div>

{% endblock body %}